*, *::before, *::after {
  box-sizing: border-box;
  line-height: 1.5;
}

html {
  margin: 0;
}

body {
  background: linear-gradient(0deg, #206e9d, #c44bb6);
  font-family: arial;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.content {
  flex: 1 0 auto;
}

.grid-container {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.controls-container {
  display: flex;
  justify-content: center;
}

.clear-button, .change-button, .pen-select {
  margin: 0 1em;
  font-size: 1em;
}

.grid {
  display: grid;
  border: 2px solid black;
  grid-template: repeat(32, 1fr) / repeat(32, 1fr);
  height: 720px;
  width: 720px;
}

.footer {
  font-size: 0.8em;
  flex-shrink: 0;
  margin: 0.2em 1em;
}

.site-info {
  margin: 0;
}
